<div [@routerTransition]>
    <section class='content-header'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-6'>
                    <h1>{{ 'Usages' | localize }}</h1>
                </div>
                <div class='col-6 text-right' *ngIf='isButtonVisible("Create")'>
                    <a href='javascript:;' class='btn bg-blue' (click)='createUsage()'>
                        <i class='fa fa-plus-square'></i>
                        {{ 'Create' | localize }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class='content px-2'>
        <div class='container-fluid'>
            <div class='card'>
                <div class='card-header'>
                    <div class='row'>
                        <div class='col-md-6'>&emsp;</div>
                        <div class='col-md-6'>
                            <div class='input-group'>
                                <div class='input-group-prepend'>
                                    <button
                                            type='button'
                                            class='btn bg-blue'
                                            (click)='getDataPage(1)'
                                    >
                                        <i class='fas fa-search'></i>
                                    </button>
                                </div>
                                <input
                                        type='text'
                                        class='form-control'
                                        name='keyword'
                                        [placeholder]='"SearchWithThreeDot" | localize'
                                        [(ngModel)]='keyword'
                                        (keyup.enter)='getDataPage(1)'
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-body'>
                    <div class='table-responsive'>
                        <table class='table table-striped table-bordered' [busy]='isTableLoading'>
                            <thead class='bg-light'>
                            <tr>
                                <th>{{ 'Unit' | localize }}</th>
                                <th>{{ 'Pico' | localize }}</th>
                                <th>{{ 'RFID' | localize }}</th>
                                <th>{{ 'Building' | localize }}</th>
                                <th>{{ 'StartTime' | localize }}</th>
                                <th>{{ 'EndTime' | localize }}</th>
                                <th>{{ 'CheckInRef' | localize }}</th>
                                <th style='width: 310px;' *ngIf='isButtonVisible("Edit") && isButtonVisible("Delete")'>{{ 'Actions' | localize }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr
                                    *ngFor='
                  let usage of usages
                    | paginate
                      : {
                          id: "server",
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
                        }
                '
                            >
                                <td>{{ usage.unit }}</td>
                                <td>{{ usage.pico }}</td>
                                <td>{{ usage.rFID }}</td>
                                <td>{{ usage.building }}</td>
                                <td>{{ usage.startTime | date:'medium' }}</td>
                                <td>{{ (usage.endTime | date:'medium') == 'Jan 1, 1, 12:00:00 AM' ? '-' : (usage.endTime | date:'medium') }}</td>
                                <td>{{ usage.checkInRef }}</td>
                                <td *ngIf='isButtonVisible("Edit") || isButtonVisible("Delete")'>
                                    <button
                                            type='button'
                                            class='btn btn-sm bg-secondary'
                                            (click)='editUsage(usage)'
                                            *ngIf='isButtonVisible("Edit")'
                                    >
                                        <i class='fas fa-pencil-alt'></i>
                                        {{ 'Edit' | localize }}
                                    </button>
                                    <button
                                            type='button'
                                            class='btn btn-sm bg-danger mx-2'
                                            (click)='delete(usage)'
                                            *ngIf='isButtonVisible("Delete")'
                                    >
                                        <i class='fas fa-trash'></i>
                                        {{ 'Delete' | localize }}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='card-footer table-card-footer bg-light border-top'>
                    <div class='row'>
                        <div class='col-sm-4 col-12 text-sm-left text-center'>
                            <button class='btn btn-secondary' (click)='refresh()'>
                                <i class='fas fa-redo-alt'></i>
                            </button>
                        </div>
                        <div class='col-sm-4 col-12 text-center'>
                            <p class='mb-0 my-2'>
                                {{ 'TotalRecordsCount' | localize: totalItems }}
                            </p>
                        </div>
                        <div class='col-sm-4 col-12'>
                            <div class='float-sm-right m-auto'>
                                <abp-pagination-controls
                                        id='server'
                                        (pageChange)='getDataPage($event)'
                                >
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <select class="form-select form-control" (change)="selectedUnit($event)" [disabled]="units.length == 0">
                                <option *ngFor="let item of units" value="{{item}}" >
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="col-1">
                            <select class="form-select form-control" (change)="selectedDays($event)">
                                <option value="{{days.value}}" *ngFor="let days of noOfDays">
                                    {{days.day}}
                                </option>
                            </select>
                        </div>
                        <div class="col-3">
                            <button style="margin-bottom: 2rem;" type="button" class="btn btn-success" (click)="exportexcel()">
                                <i class="fas fa-file-download"></i>&nbsp;Download Records
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="LineChart" *ngIf="false">
                        <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxis]="xAxis"
                        [yAxis]="yAxis"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [timeline]="timeline"
                        [results]="single"
                        >
                        </ngx-charts-line-chart>
                    </div>
                    
                    <!-- <ngx-charts-line-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="single"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel">
                    </ngx-charts-line-chart> -->
                </div>
            </div>
        </div>
    </section>
</div>
